<%- include("includes/head.ejs") %>
</head>

<body>
   <header class="main-header">
      <nav class="main-header__nav">
          <ul class="main-header__item_list">
              <li class="main-header__item"><a class="active" href="/">Shop</a></li>
              <li class="main-header__item"><a href="/admin/add-product">Add-product</a></li>
          </ul>
      </nav>
  </header>

   
        <h1>Page is Not Found</h1>
    
    
<%- include("includes/end.ejs") %>