

    <main>
        <form class="product-form" action="" method="POST">
            <div class="form-control">
                <label for="title"> Title</label>

                <input name="title" type="text" id="title">
            </div>
            <button type="submit">Submit</button>
        </form>
    </main>
