<%- include("includes/head.ejs") %>
</head>

<body>
    <%- include("includes/navigation.ejs") %>

    <main>
        <% if (prods.length>0) { %>
            <h1> My Product</h1>
            <% for(let product of prods) { %>
            <p> <%= product.title %></p>
            <% } %>
        <% } else { %> 
            <h1>Product is not available </h1>
        <% } %>
    </main>
    
<%- include("includes/end.ejs") %>